.container{
    width: 80%;
    margin: auto;
}

.container-100{
    width: 100%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .section{
        padding: 0px 15px;
        height:1500px;
    }
    .w-5{
        transition: 0.3s all ease;
        .toggle-create{
            transform: rotate(180deg);
            transition: 0.3s all ease;
            right: 3.8% !important;
        }
        width: 5%;
    }
    .w-25{
        transition: 0.3s all ease;
        width: 25%;
    }
    .w-75{
        transition: 0.3s all ease;
        width:75%;
    }
    .w-95{
        transition: 0.3s all ease;
        width: 95%;
    }
    .w-100{
        transition: 0.3s all ease;
        width:100%;
    }
    .create{
        background-color: var(--bg-color);
        min-height: calc(100vh - 57px);
        display: flex;
        flex-direction: column;
        position: relative;
        .create-contenedor{
            transition: 0.3s all ease;
            display: flex;
            flex-direction: column;
            justify-content: baseline;
            top: 0;
            position: -webkit-sticky;
            position: sticky;
        }
        .toggle-create{
            position: fixed;
            content: '';
            top: 50%;
            right: 23.7%;
            cursor: pointer;
            z-index: 1;
            width: 30px;
            height: 30px;
            transition: 0.3s all ease;
            i{
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--color-dark-gray);
                width: 30px;
                height: 30px;
                font-size: 18px;
                border-radius: 50%;
                border: 1px solid var(--border-box-color);
                background-color: var(--bg-color);
            }
        }

        .create-active-responsive{
            transition: 0.3s all ease;
            margin-right: -100%;
            .toggle-create{
                transform: rotate(90deg);
                transition: 0.3s all ease;
            }
        }
    }
}

.box-two{
    display: grid;
    grid-template-columns: 300px auto;
    padding: 10px;
    gap: 15px;
}

.box-simple{
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    gap: 15px;
}

@media screen and (min-width: 1500px){
    .container-100{
        .create{
            .toggle-create{
                right: 23.7%;
            }
        }
    }
}


@media screen and (max-width: 1024px){

    .box-two{
        grid-template-columns: none !important;
    }

    .container-100{
        width: 100%;
        display:flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: wrap;
        height: calc(100vh - 57px);
        min-height: calc(100vh - 57px);
        position: relative;
        .section{
            width:100%;
            padding: 0px 15px;
        }
        .bottom-reset{
            bottom: -20% !important;
            border-top: 1px solid var(--border-box-color);
        }
        .create{
            width:100% !important;
            background-color: var(--bg-color);
            height: 100%;
            display: flex;
            flex-direction: column;
            .create-contenedor{
                transition: 0.3s all ease;
                display: flex;
                flex-direction: column;
                position: relative;
            }
            transition: 0.3s all ease;
            margin-left: auto;
            margin-right: auto;
            position: fixed;
            left: 0;
            right: 0;
            bottom: -96%;
            .toggle-create{
                position: absolute;
                content: '';
                top: -15px;
                left: 45%;
                transition: 0.6s all ease;
                i{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--color-dark-gray);
                    width: 30px;
                    height: 30px;
                    font-size: 18px;
                    border-radius: 50%;
                    border: 1px solid var(--border-box-color);
                    background-color: var(--bg-color);
                    transform: rotate(-90deg);
                    transition: 0.3s all ease;
                }
            }
        }

        .create-active-responsive{
            transition: 0.3s all ease;
            .toggle-create{
                transform: rotate(180deg);
                transition: 0.6s all ease;
            }
        }
    }

}