.container{
    width: 80%;
    margin: auto;
}

.container-100{
    width: 100%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // height: calc(100vh - 57px);
    .section{
        width:75%;
        padding: 0px 15px;
        height:1500px;
    }
    .create{
        width:25%;
        background-color: var(--bg-color);
        // border-radius: none !important;
        // border: none !important;
        // min-height: 280px;
        // height: 100%;
        min-height: calc(100vh - 57px);
        // height: 100vh;
        // position: -webkit-sticky;
        // position: sticky;
        // top: 0;
        display: flex;
        flex-direction: column;
        position: relative;
        .create-contenedor{
            transition: 0.3s all ease;
            display: flex;
            flex-direction: column;
            justify-content: baseline;
        }
        .toggle-create{
            position: absolute;
            content: '';
            top: 50%;
            left: -16px;
            cursor: pointer;
            margin-right: 0%;
            z-index: 1;
            i{
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--color-dark-gray);
                width: 30px;
                height: 30px;
                font-size: 18px;
                border-radius: 50%;
                border: 1px solid var(--border-box-color);
                background-color: var(--bg-color);
            }
        }

        .create-active-responsive{
            transition: 0.3s all ease;
            margin-right: -100%;
            .toggle-create{
                transform: rotate(90deg);
                transition: 0.3s all ease;
            }
        }
    }
}



.box-two{
    display: grid;
    grid-template-columns: 300px auto;
    padding: 10px;
    gap: 15px;
}

.box-simple{
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    gap: 15px;
}


@media screen and (max-width: 1024px){

    .box-two{
        grid-template-columns: none !important;
    }

    .container-100{
        // overflow: hidden;
        width: 100%;
        display:flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: wrap;
        height: calc(100vh - 57px);
        min-height: calc(100vh - 57px);
        position: relative;
        .section{
            width:100%;
            padding: 0px 15px;
        }
        // .top-97{
        //     top: 97% !important;
        // }
        // .top-0{
        //     top: 0 !important;
        // }
        .bottom-reset{
            bottom: -10% !important;
        }
        .create{
            width:100%;
            background-color: var(--bg-color);
            // border-radius: none !important;
            // border: none !important;
            // min-height: 280px;
            height: 100%;
            display: flex;
            flex-direction: column;
            .create-contenedor{
                transition: 0.3s all ease;
                display: flex;
                flex-direction: column;
            }
            transition: 0.3s all ease;
            margin-left: auto;
            margin-right: auto;
            position: fixed;
            left: 0;
            right: 0;
            // top: 97%;
            bottom: -96%;
            .toggle-create{
                position: absolute;
                content: '';
                top: -15px;
                left: 45%;
                transition: 0.6s all ease;
                i{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--color-dark-gray);
                    width: 30px;
                    height: 30px;
                    font-size: 18px;
                    border-radius: 50%;
                    border: 1px solid var(--border-box-color);
                    background-color: var(--bg-color);
                    transform: rotate(-90deg);
                    transition: 0.3s all ease;
                }
            }
        }

        .create-active-responsive{
            transition: 0.3s all ease;
            .toggle-create{
                transform: rotate(180deg);
                transition: 0.6s all ease;
            }
        }
    }

}