<div class="d-flex justify-content-between align-center p-10-20 border-bottom">
  <h4 class="">Estadisticas</h4>
  <i class="bx bx-dots-horizontal-rounded article-icon"></i>
</div>

<div class="d-flex justify-content-center p-10" *ngIf="SinRegistros()">
  <canvas
    baseChart
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [chartType]="doughnutChartType"
  >
  </canvas>
</div>

<div
  *ngIf="!SinRegistros()"
  class="d-flex align-center justify-content-center text-secondary text-center"
  style="height: 50%;"
>
<i class='bx bxs-pie-chart-alt-2' style="margin-right: 5px; font-size: 25px;"></i>
  <span>Estadisticas no disponibles</span>
</div>
