
.gallery{
    min-height: 280px;
    height: 100%;
    border-radius: var(--br-box);
    background-color: var(--bg-color);
    border: 1px solid var(--border-box);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    .img{
        width: 250px;
        height: 250px;
    }
}