<div class="navbar">
    <div class="menu" id="menu">
        <div class="nav-item">
            <i class='bx bxs-home' style="margin-right: 5px;"></i>Inicio
        </div>
        <div class="nav-item active">
            <i class='bx bxs-spreadsheet' style="margin-right: 5px;"></i>Cotizar
        </div>
    </div>
    <div class="nav-right">
        <div class="notificaciones">
            <span class="not-point"></span>
            <i class='bx bxs-bell'></i>
        </div>
        <div class="user-profile">
            <img class="user-img" [src]="userImage">
            <div class="user-name">{{ userName}}</div>
        </div>

        <div class="btn-menu" (click)="toggleMenu()">
            <i class='bx bx-menu-alt-right'></i>
        </div>
    </div>
</div>
