<div class="navbar">
    <div class="menu">
        <div class="nav-item">
            <i class='bx bxs-home' style="margin-right: 5px;"></i>Inicio
        </div>
        <div class="nav-item active">
            <i class='bx bxs-spreadsheet' style="margin-right: 5px;"></i>Cotizar
        </div>
        <div class="nav-item">
            <i class='bx bxs-folder-minus' style="margin-right: 5px;"></i>Cotizaciones
        </div>
    </div>
    <div class="user-profile">
        <img class="user-img" [src]="userImage">
        <div class="user-name">{{ userName}}</div>
    </div>
</div>
