<div toastContainer></div>
<div class="article">
    <form class="body" [formGroup]="formulario" (ngSubmit)="SendResult()">
        <div class="row">
            <div class="form-group col-3">
                <pres-select
                    [formulario]="formulario"
                    [labelName]="marcaLabel"
                    formControlName="marca"
                    [formularioControlState]="marcaState"
                    [options]="marcasList"
                    [hasMethodChange]="true"
                    (optionSelectedMethod)="MarcaSelected($event)" ngDefaultControl>
                </pres-select>
            </div>
            <div class="form-group col-3">
                <pres-select
                    [formulario]="formulario"
                    [labelName]="paqueteLabel"
                    [formularioControlState]="paqueteState"
                    formControlName="paquete"
                    [options]="paqueteList"
                    [hasMethodChange]="true"
                    (optionSelectedMethod)="validStatePaquete($event)" ngDefaultControl>
                </pres-select>
            </div>
            <div class="form-group col-3">
                <pres-select
                    [formulario]="formulario"
                    [labelName]="cuotasLabel"
                    [formularioControlState]="cuotasState"
                    formControlName="cuotas"
                    [options]="cuotasList"
                    [hasMethodChange]="true"
                    (optionSelectedMethod)="validStateCuotas($event)" ngDefaultControl>
                </pres-select>
            </div>
            <div class="form-group col-3 m-10">
                <button class="button" type="submit" [disabled]="!formulario.valid">
                    <i class='bx bxs-edit-alt'
                        style="margin-right: 5px; font-size: 22px;">
                    </i>
                    Cotizar
                </button>
            </div>
        </div>
    </form>
</div>