.titular-cabecera{
    margin-bottom: 0px;
    font-size: var(--title-principal);
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;
    width: auto;
    border: none !important;
    border-radius: var(--br-box);
    background-color: var(--color-blue);
    color: var(--bg-color);
    text-align: center;
    padding: 8px 28px;
    font-size: 18px;
    cursor: pointer;
}