<div class="d-flex justify-content-between align-center p-10-20 border-bottom">
  <h4 class="">Cotizacion Actual</h4>
  <i class="bx bx-dots-horizontal-rounded article-icon"></i>
</div>
<div class="d-flex p-10">
  <div class="text-center w-100" *ngIf="!result">
    ¿No realizaste una cotización aún?
  </div>

  <div
    *ngIf="result"
    class="d-flex justify-content-around w-100"
  >
    <div class="item-value w-25">
      <b class="item-title">Marca</b>
      <b class="item-subtitle">{{ cotizacion.marca }}</b>
    </div>
    <div class="item-value w-25">
      <b class="item-title">Paquete</b>
      <b class="item-subtitle"><span class="badge badge-primary">{{ cotizacion.paquete }}</span></b>
    </div>
    <div class="item-value w-25">
      <b class="item-title">Cuotas</b>
      <b class="item-subtitle">{{ cotizacion.cuotas }}</b>
    </div>
    <div class="item-value w-25">
      <b class="item-title">Precio</b>
      <b class="item-subtitle">{{ cotizacion.PrecioFinal() }}</b>
    </div>
  </div>
</div>
